@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "Arsenal", sans-serif;
    font-weight: 400;
    font-size: large;
    margin: 0;
    padding: 0; 
    background-image: linear-gradient(to right top, #fcf6f4, #faf2f0, #f8efec, #f6ebe7, #f4e8e3);
}

#navbar-container {
    background-color: #c2a393;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.356);
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    width: 100%;
}

.navbar {
    background-color: #c2a393;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navbar-logo {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#navbar-logo img{
    height: 8rem;
    max-width: 100%;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-item {
    margin: 15px 10px;
}

.nav-link {
    color: #432c23;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #6c54449c;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.356);
    color: #f4f1ec;
}