body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
}

.navbar {
    background-color: #e1d2a98a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#navbar-logo {
    display: flex;
    justify-content: center;
    margin: 2em;
}

#navbar-logo img{
    height: 8rem;
    max-width: 100%;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
}

.nav-item {
    margin: 10 10px;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-link:hover {
    background-color: #1111111e;
    border-radius: 4px;
}